version: "3.9"

services:
  db:
    image: postgres:16
    container_name: sports_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-sports}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-net

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: sports_api
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:postgres@db:5432/sports}
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - app-net

  ui:
    build:
      context: .
      dockerfile: docker/ui.Dockerfile
    container_name: sports_ui
    environment:
      API_URL: ${API_URL:-http://api:8000}
    depends_on:
      - api
    ports:
      - "8501:8501"
    networks:
      - app-net

  pgadmin:
    build:
      context: .
      dockerfile: docker/pgadmin.Dockerfile
    container_name: sports_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@example.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - app-net

volumes:
  postgres_data:

networks:
  app-net:
    driver: bridge
